<%- include('../partials/header') %>


    <div class="account-container">
      <div class="name-container">
      <span class="avatar">
        <img src="https://www.gravatar.com/avatar/344e6697ef2aa1b0a6868cbe18511538?s=70&amp;d=mp&amp;r=g" width="80" height="80" alt="AM">
      </span>
      <p class="name">Hello, <%= name %></p>
      </div>
    </div>
</body>
  <%- include('../partials/footer') %>