.ac-menus {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.ac-menu-item {
  flex: 0 0 25%;
  display: flex;
  padding: 0 5px 10px;
}
.ac-menus a {
  flex: 1 1 auto;
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 40px 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.name{
    font-size: 20px;
    margin-bottom: 10px;
    display: inline;
}
.name-container{
    margin-bottom: 20px;
}
.ac-menus a:hover {
  background: #f9f9f9;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}
.ac-menus a span {
  font-size: 16px;
  color: #666;
}

